.table_contain {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

#Edit {
    background-color: rgb(63, 138, 63);
}

#Delete {
    background-color: rgb(230, 101, 101);
}

.action {
    width: 250px;
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input {
    padding: 10px;
    margin: 10px;
    display: block;
    width: 70%;
    border: none;
    background-color: rgb(221, 221, 221);
}

.modal-content input[name=submit] {
    background-color: rgb(58, 146, 58);
    color: #fff;
    width: fit-content;
}

.addUser {
    margin: 10px;
}

.addUser input {
    padding: 8px;
    margin: 0 5px 0 0;
}

h3 {
    padding: 5px;
    margin: 10px;
    background-color: coral;
    color: #fff;
    border-radius: 5px;
}